{{ $image := (.Params.footer | default .Site.Params.footer) | relURL }}

{{ $dark := true }}
{{ if ne (index .Params "footer-dark") nil }}
  {{ $dark = index .Params "footer-dark" }}
{{ else if ne (index .Site.Params "footer-dark") nil }}
  {{ $dark = index .Site.Params "footer-dark" }}
{{ end }}

<footer
  class="background"
  style="--image: url('{{ $image }}')"
  {{ if or (eq $dark true) (eq $dark false) }}
    data-dark="{{ $dark }}"
  {{ end }}
  data-size="wide"
>
  <div>
    {{ range $key, $value := .Site.Params.links }}
      {{ partial "button.html" (dict "type" $key "text" "" "link" $value "style" "bare") }}
    {{ end }}
  </div>

  <div>
    &copy; {{ now.Format "2006" }}
    {{ .Site.Title }}
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div>

  <div class="footer-logo-container">
    <span class="footer-png" style="display: inline-block; margin-bottom: 50px;">
      <img src="{{ "images/logo_white-name.png"| relURL }}" alt="logo" style="height: 90px !important; width: auto !important; max-height: none !important; margin-right:50px">
      <a href="https://www.colorado.edu/emag-research/research-groups">
          <img src="{{ "images/boulder-logo.png"| relURL }}" alt="logo" style="height: 80px !important; width: auto !important; max-height: none !important; ">
    
      </a>
    </span>
  </div>

</footer>

<style>
  /* Forces the template layout to accommodate the logo container */
  .footer-logo-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    clear: both; /* Prevents floating elements from collapsing the area */
    display: block;
  }

  .footer-png {
    display: inline-block;
    margin-bottom: 20px;
  }
</style>