<!-- Local third-party styles -->
<link href="{{ "css/pygments.css" | relURL }}" rel="stylesheet" />

{{- /* PIPELINE SETTING MAIN.SCSS FIRST */ -}}
{{- $mainFile := resources.Get "scss/main.scss" -}}
{{- $portraitFile := resources.Get "scss/portrait.scss" -}}
{{- $allScssFiles := resources.Match "scss/*.scss" -}}

{{- if $allScssFiles -}}
  {{- $middleComponents := slice -}}
  {{- range $allScssFiles -}}
    {{- if and (ne .Name "scss/main.scss") (ne .Name "scss/style.scss") (ne .Name "scss/portrait.scss") -}}
      {{- $middleComponents = $middleComponents | append . -}}
    {{- end -}}
  {{- end -}}

  {{/* main.scss is at index 0, portrait.scss is at the very end */}}
  {{- $orderedRawBundle := slice $mainFile | append $middleComponents | append $portraitFile -}}

  {{- $bundled := $orderedRawBundle | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint -}}
  <link href="{{ $bundled.Permalink }}" rel="stylesheet" />
{{- end -}}